
a:focus{
	outline:thin dotted
}
a:active,a:hover{
	outline:0
}

img{
	border:0
}

button,input,select,textarea{
	font-family:inherit;font-size:100%;margin:0
}
button,input{
	line-height:normal
}
button,select{
	text-transform:none
}
button,html input[type='button'],input[type='reset'],input[type='submit']{
	-webkit-appearance:button;cursor:pointer
}
button[disabled],html input[disabled]{
	cursor:default
}
input[type='checkbox'],input[type='radio']{
	box-sizing:border-box;padding:0
}
input[type='search']{
	-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box
}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;padding:0
}

a{
	color:#4ae;text-decoration:none
}
a:hover{
	text-decoration:underline
}
::-moz-selection,::selection{
	background:#e67e39;color:#fff
}

*,*:before,*:after{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box
}

.example-image-link{
	display:inline-block;padding:4px;margin:0 0.5rem 1rem 0.5rem;background-color:#fff;line-height:0;-webkit-transition:background-color 0.1s ease-out;-moz-transition:background-color 0.1s ease-out;-o-transition:background-color 0.1s ease-out;transition:background-color 0.1s ease-out;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px
}
.example-image-link:hover{
	background-color:#4ae
}
.example-image{
	width:7rem;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px
}