.nav {
    background-image:
        url(http://moe123.com/static/img/mirugo_nanami_vs_kyoko.jpg);
    position: absolute;
    zoom: 1;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    background-position: top center;
    background-color:transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: background-image 0.5s;
    transition-timing-function: linear;
}

.nav .bgchange{
    position: relative;
    top: 50px;
    left: 110px;
    width: 255px;
    padding: 5px;
    height: 22px;
    padding-left: 0px;
    opacity: 0.8;
    background: url(http://moe123.com/static/img/lgray2.png);
    border-radius: 100px;
    overflow: hidden;
}

.nav .bgchange .info{
    overflow: hidden;
    display: block;
    float: left;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    -webkit-transition: 0.3s all;
}

.nav .bgchange .info a{
    color: white;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
}

.nav .bgchange i{
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-left: 5px;
    float: left;
    width: 22px;
    height: 22px;
    background: url(http://moe123.com/static/img/icon-control.png) left center no-repeat;
}

.nav .bgchange .lock {
    background: url(http://moe123.com/static/img/locker.png) center no-repeat;
}

.nav .bgchange .next {
    background-position: right center;
}

.nav .bgchange .info {
    background-position: center;
}

.nav .bgchange:hover{
    opacity: 1.0;
}

.nav .tab{
    position:relative;
    top:360px;
    left:560px;
    width:800px;
    height:40px;
    overflow:hidden;
    clear:both;
}

.nav li{
    cursor: pointer;
    opacity:0.4;
    border-radius:10px;
    width:60px;
    padding-top: 7px;
    margin-right:5px;
    height:25px;
    float:left;
    text-align:center;
    list-style-type: none;
    color:white;
    background-color:#111111;
    overflow:hidden;
}

.nav li:hover{
    opacity: 0.5;
    color:#ffffff;
    font-weight:bold;
    background-color:#ff6666;
}

.nav li.active{
    opacity: 0.8;
    color:#ffffff;
    font-weight:bold;
    background-color:#ff6666;
}

.nav .search{
    position:relative;
    top:345px;
    left:600px;
    width:800px;
    height:40px;
    overflow:hidden;
    clear:both;
}

#cleansb {
    position: absolute;
    left: 340px;
    top: 7px;
    opacity: 0.5;
    visibility: hidden;
}

.nav2 {
    position: relative;
    top: 700px;
    left: 100px;
}